# Django
DJANGO_SECRET_KEY=genera_una_clave_unica_aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=midominio.com,api.midominio.com

# Base de datos
DB_ENGINE=django.db.backends.postgresql
DB_NAME=pacificodb
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ALLOW_ALL=False
CORS_ALLOWED_ORIGINS=https://midominio.com
